
<div
  class="lg:flex lg:flex-row-reverse lg:max-h-screen xl:max-h-screen items-center max-h-full justify-items-center px-10 sm:px-0 xl:px-20 lg:px-12 md:px-20 my-24 xl:flex xl:flex-row-reverse"
>
  <div
    class="lg:w-1/2 xl:w-1/2 w-full px-12 xl:ml-8 md:ml-0 lg:ml-6 ml-0 pl-0 pb-6"
  >
    <p
      class="w-full font-bold pt-0 text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl tracking-tight leading-9"
    >
      {{site.data.main.heading}}
    </p>
    <p
      class="w-full pt-4 xl:pt-8 2xl:pt-12 text-sm lg:text-md xl:text-xl 2xl:text-2xl tracking-tighter"
    >
      {{site.data.main.summary}}
    </p>
    <button
      class="bg-indigo-600 hover:bg-blue-700 ml-0 xl:ml-0 lg:ml-0 text-white mt-4 tracking-tight font-bold text-xs py-2 px-3 rounded-full"
    >
      DOWNLOAD CV
    </button>
  </div>
  <div class="lg:w-1/2 xl:w-1/2 w-full sm:w-11/12 lg:p-8 xl:p-16 2xl:p-20">
    <img
      src="{{site.data.main.image}}"
      alt="Paris"
      class="w-full h-auto ml-0 sm:ml-8 md:ml-8 rounded-md"
    />
   
  </div>
</div>
