---
layout: archive
---

{{content}}
<!--div style="display: grid; grid-template-columns: auto auto;">
    {% for item in page.about1 %}
        {% if (forloop.index0 == 0 | forloop.index2 == 2) %}
        <div style="grid-column: 2;width: 50%;">
            <h3>{{ item.title }}</h3>
            <h1>{{ item.heading }}</h1>
            <p>{{ item.text }}</p>
        </div>
        {% else %}
        <div style="width: 50%;grid-column: 1;">
            <h3>{{ item.title }}</h3>
            <h1>{{ item.heading }}</h1>
            <p>{{ item.text }}</p>
        </div>
        {% endif %}
    {% endfor %}
   
</div-->
<!-- About -->
<div class="timeline">
  <div class="container right">
    <div class="content">
      
      <h3>2024 -</h3>
      <h1>Senior AI Researcher, Balyasny Asset Management</h1>
      <p>Developing transformative AI models for investing.</p>
        </div>
  </div>
  <div class="container left">
    <div class="content">
      <h3>2020 - 2023</h3>
      <h1>Senior Research Scientist, Google</h1>
      <p>Research into multimodal generative AI, from generating synthetic instructions for training robots to text-to-image generation and editing, e.g. Imagen Editor, Pathdreamer.</p> 
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h3>2018 - 2020</h3>
      <h1>Research Scientist, Georgia Tech</h1>
      <p>Machine learning research including image captioning, visual question answering (VQA) and language-guided localization and navigation for embodied agents. Collaborating with Dhruv Batra and Devi Parikh.</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h3>2015 - 2018</h3>
      <h1>PhD (Computer Science), Australian National University</h1>
      <p>Machine learning combining computer vision and NLP. Proposed bottom-up and top-down attention for vision-and-language models, the SPICE metric, and Vision-and-Language Navigation (VLN). Affiliated with the Australian Centre for Robotic Vision.</p>   </div>
  </div>
  <div class="container right">
    <div class="content">
      <h3>2014 - 2015</h3>
      <h1>Engineer, Sabre Autonomous Solutions</h1>
      <p>Advancing an autonomous grit-blasting robot from university prototype to commercial product.</p>  </div>
  </div>
  <div class="container left">
    <div class="content">
      <h3>2013 - 2014</h3>
      <h1>Flounder, FrameFish</h1>
      <p>Developing and commercializing virtual try-on technology for glasses and sunglasses</p>    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h3>2009 - 2012</h3>
      <h1>BEng (Computer), University of NSW</h1>
      <p>1st class honours and university medal.</p>  </div>
  </div>
  <div class="container left">
    <div class="content">
      <h3>2005 - 2009</h3>
      <h1>Securities Analyst, Credit Suisse</h1>
      <p>Sell-side analyst covering Australian financials including commercial banks and investment banks. Top 3 rated team.</p>    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h3>2000 - 2004</h3>
      <h1>BComm (Finance & Economics), University of Sydney</h1>
      <p>1st class honours and university medal.</p>  </div>
  </div>
</div>


